[2015-04-04 17:13] kylef opened #1 "Implement claims structure"
- [x] Issuer
- [x] Audience
- [ ] Subject
- [ ] Expiration
  - [ ] Expired
- [ ] iat
- [ ] nbf
- [ ] jti
- [ ] validation
- [ ] Hashable
- [ ] Equatable

[2015-04-04 23:14] #1 closed, assigned to nobody

[2015-04-04 23:14] kylef opened #2 "Support claim verification"
- [x] iss
- [x] exp
- [x] aud
- [ ] sub
- [x] nbf
- [x] iat
- [ ] jti

[2015-04-04 23:15] kylef opened #3 "Support signature verification"

[2015-04-04 23:59] #2 closed, assigned to nobody

[2015-04-05 03:03] #3 closed, assigned to nobody

[2015-04-05 03:03] kylef opened #5 "Support ECDSA signatures"

[2015-04-05 03:04] kylef opened #6 "Support RSASSA-PKCS1 signatures"

[2015-04-21 04:54] subinrevi opened #7 "Is there any Objective C implementation of creating JSON Web Token."

[2015-05-06 15:21] kylef commented on #7
As discussed [on twitter](https://twitter.com/kylefuller/status/590577501723828224), I don't know of any and I'd suggest you just write a thin wrapper around the Swift variant, or just use the swift version directly.

[2015-05-06 15:21] #7 closed

[2015-05-30 16:29] TheFlow95 opened #9 "IAT is an int but it says it's not"
Hello,

When I decode my JWT I got this error:

But the problem is that the iat is actually an integer. If I do a println of payload[key] in the validateDate function, it returns: `Optional(1433003301)`

What is the problem ?

[2015-05-30 21:13] kylef commented on #9
@TheFlow95 Would you be able to share with me an example JWT that exhibits this problem.

[2015-05-31 14:26] TheFlow95 commented on #9
My JWT:

I found a trick to make it work:

  if let timestamp = payload[key] as? NSTimeInterval {
    let date = NSDate(timeIntervalSince1970: timestamp)
    if date.compare(NSDate()) == comparison {
      return failure
    }
  } else if let timestamp = (payload[key] as? String)?.toInt() {
    let date = NSDate(timeIntervalSince1970: Double(timestamp))
    if date.compare(NSDate()) == comparison

[2015-06-03 07:23] kylef commented on #9
@TheFlow95 Your JWT is improperly encoded. Take a look at the payload:

[code]

Note, IAT is a string instead of an integer as per the JWT specification where it states the value must be a number (not a string).

Your `exp` value is properly encoded as a number, I'd suggest you do the same for your `iat` value.

[2015-06-03 07:24] kylef commented on #9
There's issue #6 tracking RS256 support. I'd welcome any pull request implementing this.

[2015-06-03 07:24] #9 closed

[2015-08-27 20:54] ekristen commented on #6
Any chance this will get implemented soon?

[2015-08-27 20:55] kylef commented on #6
@ekristen Personally I don't have time, but I would really appreciate any contribution in form of a pull request to get this added.

[2015-08-27 20:56] ekristen commented on #6
If I was a swift guy I would totally help, it would take me much longer to do it than anyone else.

[2015-08-27 21:00] kylef commented on #6
@ekristen Not sure I follow, why would you want this feature if you don't use Swift?

[2015-09-10 20:39] Deekor opened #10 "Can someone explain how to get the payload out of a decoded token?"
I'm at a lost as to how this works and you don't have an example in your readme.

https://stackoverflow.com/questions/32511043/jwt-decoderesult-does-not-have-a-member-named-success

[2015-09-10 20:52] kylef commented on #10
It returns an enum which has success and failure, you can use it as follows:

[code]

[2015-09-10 21:03] Deekor commented on #10
Awesome thanks!

[2015-09-10 21:03] #10 closed

[2015-10-05 20:40] wilmoore commented on #6
:+1:

[2015-10-09 23:51] Deekor opened #13 "JWT headers"
Is there currently a way to adjust the header / insert a new value into it?

[2015-10-10 00:02] kylef commented on #13
I'm not entirely sure what you are referring to my JWT headers @Deekor, can you please elaborate?

[2015-10-12 15:20] Deekor commented on #13
On http://jwt.io you can see a header box with the text in red. I was hoping to add another variable to the header like a `user_id` or something.
![screen shot 2015-10-12 at 9 18 54 am](https://cloud.githubusercontent.com/assets/1904267/10431461/696e6d3c-70c2-11e5-9172-dc05b0729ec8.png)

[2015-10-12 16:22] kylef commented on #13
@Deekor You should be placing the `user_id` inside the payload directly. Otherwise anyone can change/alter/remove the user ID and the JWT would still validate as only the body is checked (by design in JSON Web Token specification).

You can create this as follows:

[code]

And decode:

[code]

[2015-10-12 16:22] #13 closed

[2015-10-12 16:24] Deekor commented on #13
Good to know I thought the signature validated the header too.Thanks.

[2015-10-12 16:26] kylef commented on #13
@Deekor The header only contains the metadata such as the algorithm used for validating the payload.

[2015-11-19 17:48] elgs opened #17 "Carthage support?"
I don't like the way CocoaPods works that is to intrusive. I tried to build this library using carthage, but it doesn't build. Is it possible to make this library to support carthage? Here is the error message when I tried to build with carthage:

[code]

[2015-12-22 09:39] fesor commented on #3
I found this confusing for developers to set `verify` to true by default. Since this library mostly used on the client side, it will be better to make signature verification skipped by default.

The reason is that when developers trying to use your library they start to think that they need to verify signature of token on their side. This leads to possible security issue since they need secret key

[2016-01-27 22:44] tternes opened #22 "testEncodingJWT Fails on iPhone 4S"
The `testEncodingJWT` test fails on iOS 8 (via Travis):

https://travis-ci.org/tternes/JSONWebToken.swift/jobs/105298771

[2016-01-27 23:31] tternes commented on #22
This doesn't appear to be an OS issue, but possibly a 32/64 bit issue. The following test pass was done against iOS 9 with the same device (iPhone 4S) failing:

https://travis-ci.org/tternes/JSONWebToken.swift/jobs/105309981

[2016-02-16 19:25] #17 closed

[2016-02-18 23:37] xandros6 opened #25 "Use carthage to install"
I try Carthage to install this module using in cartfile:

`github "kylef/JSONWebToken.swift"`

but on `carthage update --platform iOS`

I receive the error:

`Dependency "JSONWebToken.swift" has no shared framework schemes for any of the platforms: iOS`

Can you help me?
Thanks.

[2016-02-18 23:52] ikesyo commented on #25
Carthage support is added in #21 but a new release including it is not yet released. You can use by specifying branch as `github "kylef/JSONWebToken.swift" "master"` for now.

[2016-02-19 00:12] xandros6 commented on #25
OK, thanks, now I receive:

[code]

Because my project depends from CryptoSwift but 0.2.3.
What do you think to modify your "cartfile" and support next version of CryptoSwift using version requirement `~> 0.2.2` ?

[2016-02-19 00:28] xandros6 commented on #25
Now I force my requirement of CryptoSwift to 0.2.2 but the output is the same:

`Dependency "JSONWebToken.swift" has no shared framework schemes for any of the platforms: iOS`

with version:

`*** Checking out JSONWebToken.swift at "5771d9847f0119d4151cdd197115401aa8c99aeb"`

[2016-02-19 12:19] ikesyo commented on #25
I'm not sure why, but `JWT.xcodeproj` only have Mac target, does not support iOS target.

[2016-02-19 13:40] xandros6 commented on #25
Sorry, can't I use on iOS? Or is only a misconfiguration?

[2016-02-19 14:21] ikesyo commented on #25
I've submitted a PR to fix this #26.

[2016-02-19 15:30] #25 closed

[2016-02-19 15:31] xandros6 commented on #25
Tested with your (ikesyo) fork and "carthage-other-platforms" branch, all OK, also CryptoSwift dependency!

Thanks!

[2016-03-19 22:53] jeremybower opened #27 "Can't use Swift Package Manager as described in README"
Using:

[code]

Results in:

[code]

The repo has no tag for 1.4.2.

[2016-03-28 09:18] homelouis opened #28 "can't pod in tvos project"
[!] The platform of the target `Movie4Free` (tvOS 9.0) is not compatible with `JSONWebToken (1.4.1)`, which does not support `tvos`.

please help.

[2016-03-28 17:52] florentmorin commented on #22
JWT seems to use [CryptoSwift](https://github.com/krzyzanowskim/CryptoSwift), so it's probably due to a CryptoSwift issue.

[2016-03-28 19:14] kylef commented on #22
I think it could well be a problem CryptoSwift, I haven't had chance to look into it and confirm. If anyone does I'd really appreciate it.

[2016-03-28 19:14] kylef commented on #27
Sorry, will make a tag tomorrow. Wanted to get another change in before releasing and didn't get round to it yet.

[2016-03-28 19:14] kylef commented on #28
I'll make a release tomorrow which supports tvOS.

[2016-03-28 19:34] tternes commented on #22
I think the problem boils down to the test assuming the order elements in the dictionary will be serialized - which happens to be different on different devices. For example, `{ "name" : "John", "age" : 27 }` and `{ "age" : 27, "name" : "John" }` are equivalent in terms of data, but their HMAC values will be very different, since the string versions are different.

I think this is probably a matte

[2016-03-29 15:50] kylef commented on #27
Released JSONWebToken 1.4.3 which includes Swift Package Manager support.

[2016-03-29 15:50] #27 closed

[2016-03-29 15:53] kylef commented on #28
Released version 1.4.3 which adds tvOS support.

[2016-03-29 15:53] #28 closed

[2016-03-31 03:08] arden opened #29 "CryptoSwift version is too low"
CryptoSwift version is too low，when to update to the lately version.
when i'm pod update, now

- `CryptoSwift (= 0.2.3)` required by `Podfile`
- `CryptoSwift (= 0.2.3)` required by `Podfile`
- `CryptoSwift (= 0.2.3)` required by `Podfile`
- `CryptoSwift (~> 0.0.8)` required by `JSONWebToken (1.0.0)`

some errors like this

[2016-03-31 06:05] arden opened #30 "token is too long"
i'm call encode to make a token, but the token is too long.

and i'm use node.js to make a token, but the token is too short.

[2016-03-31 08:41] kylef commented on #29
Newer versions of JSONWebToken support CryptoSwift `0.2.2`. You can upgrade or even use master which unlocks the CryptoSwift to `~> 0.2.2`.

[code]

[2016-03-31 08:41] #29 closed

[2016-04-07 17:04] lostatseajoshua opened #31 "How can I install without CocoaPods?"
I want to use the project without the dependency of CocoaPods in my project. I have copied the following files:

`Base64.swift`
`Claims.swift`
`Decode.swift`
`JWT.swift`

But I am getting errors for `import CryptoSwift`

From the JWT Xcode project what all do I need to copy to getting it running? Thank you!

[2016-04-07 18:33] lostatseajoshua opened #32 "Cannot find JWT"
I installed the framework with cocoa pods in the time being while issue #31 is resolved.
When I `import JWT` and then try to use `JWT` it can not be found. There is no autocomplete and I can not use the decode or encode methods. I am on Xcode 7.3 Swift 2.2. I have not errors when I build and I can run but the JWT framework methods are not exposed.

###### Updated
If you create a struct and try to

[2016-04-07 21:03] kylef commented on #31
@lostatseajoshua You will need to add the CryptoSwift dependency (https://github.com/krzyzanowskim/CryptoSwift).

[2016-04-07 21:04] kylef commented on #32
What does the error say? Can you share the exact error message?

[2016-04-07 22:19] ColtonProvias commented on #5
Is there any possibility of making use of OpenSSL or LibreSSL for this?

[2016-04-08 16:32] lostatseajoshua commented on #32
@kylef I cleaned my build and it worked!. Just Xcode throwing weird errors. Sorry about that.

[2016-04-08 16:32] #32 closed

[2016-04-08 17:40] #31 closed

[2016-04-16 03:30] sweetcoco opened #34 ""Issued at claim (iat) is in the future" error when using device, but not on the simulator."
If I run my app in the Simulator I receive no errors and JSONWebToken decodes the server's JWT with no problem (node server is running on my localhost). However, when i run the app on my iPhone i get the error "Issued at claim (iat) is in the future". I've been troubleshooting for a couple hours now, I updated by CryptoSwift and JSONWebToken with no luck. Any ideas?

[2016-04-16 03:47] sweetcoco commented on #34
Right after typing this, it dawned on me that phone's time was about 30 seconds slower than my server's, making the server's timestamp look like its from the future (even though both machines are set to apple's "automatic time").

In production this could be a real pain if my server is a minute ahead of someones device.

[2016-04-16 04:06] #34 closed

[2016-04-16 13:21] kylef commented on #34
I'd still like to get to the bottom of the problem so this doesn't affect others in the future. Are you able to supply me with an example JWT so I can debug this further?

Which iPhone model were you using?

[2016-04-16 13:22] kylef commented on #34
I am wondering if it is just the iPhones date is set slightly behind the server and when you validate an issued token on the device you receive this validation error.

[2016-04-16 15:45] sweetcoco commented on #34
The problem was this: I was creating the JWT on my localhost server, and then validating it on my iphone 6. my iphone's time was about 30seconds ahead of the server's time, so It was invaliding the jwt. I had to move my server time up a minute to get it working.

There is no reason to decode jwt's in an app though. at least as far as i can see, so simply dropping that fixed my issue.

[2016-05-16 02:15] arden opened #35 "CryptoSwift ~> 0.4.1"
Now, CryptoSwift is 0.4.1 version.
when it's update CryptoSwift to 0.4?

[2016-05-16 02:58] kylef commented on #30
Hi @arden, not too sure what you mean.

Could you provide an some example code or a failing test to show what the problem is you are having.

Thanks,

Kyle

[2016-05-16 03:01] kylef commented on #35
Yes, I've done this and release JSONWebToken 0.5.0. Thanks for letting me know.

[2016-05-16 03:01] #35 closed

[2016-05-16 03:58] arden commented on #35
thanks

[2016-06-02 00:42] benguild commented on #7
FYI for all that find this, I wrote an Objective-C wrapper for this in just a few minutes. Is there any chance we could just bundle one with the library? I mean, worst case it could be removed if it HAD to be deprecated for some reason, but it seems worthwhile to open the door to the library to all of those existing Objective-C apps.

[2016-06-07 00:43] pratikdas opened #36 "decoding fails for a JWT generated with java library"
The decoding of below jwt token is failing with an error: Invalid algorithm. I have used HS256 as the algorithm and my signing secret is 'pratik'. Issuer is blank. I am using version 1.4.0 since I am running with swift 2.0.

eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJpZDEiLCJpYXQiOjE0NjUyNTgzODcsInN1YiI6InN1YmplY3QxIn0.up3EiW_4feVcgfBvVEiPiVDiAZLeMnRRfu6sqLne3E0

[2016-06-07 01:49] kylef commented on #36
The key does not actually seem to be `pratik` for this JWT. I've tried to validate this with jwt.io and the Python JWT library and they all say it's not valid. I think the problem lies on the encoding side here.

![screen shot 2016-06-06 at 18 45 10](https://cloud.githubusercontent.com/assets/44164/15843451/1b86acc2-2c17-11e6-908a-2e1d801842fc.png)

[code]

[2016-06-15 23:14] #36 closed

[2016-06-15 23:14] #30 closed

[2016-06-21 12:38] DevPravin opened #38 "Error While Installing via CocoaPods"
I have installed the 'JSONWebToken' via CocoaPods but can't build due to some errors in file CryptoSwift framework. Attached the error screen shot.
I am using CocoaPod version 1.0.1

[2016-06-21 12:45] DevPravin commented on #38
Uploaded the error screen shot at <img width="1140" alt="pod-install-error" src="https://cloud.githubusercontent.com/assets/20066655/16229698/83d2b3e6-37db-11e6-8f28-c206493b2c71.png">

[2016-06-21 17:22] dfmuir commented on #38
Let's see your podfile

[2016-06-22 07:20] DevPravin commented on #38
It seems issue with Podfile. Today I tried now it's working.
Following is podfile:

# Uncomment this line to define a global platform for your project
platform :ios, '8.0'
# Uncomment this line if you're using Swift
use_frameworks!

target 'MyAppName' do
pod 'JSONWebToken'
end

[2016-07-14 10:45] enagorny opened #39 "Swift 3 support"
Are you planning to add swift3 support?
It's in beta now but many packages already have `swift3` branches.

[2016-07-14 10:58] asib commented on #7
@benguild Could you possibly explain how you managed to do this? I can't seem figure out how...

[2016-07-14 15:10] benguild commented on #7
@asib Certain elements of Swift aren't translated to Objective-C automatically. So, you write Swift code that can be translated to Objective-C automatically that wraps this library. :)

[2016-07-14 23:36] asib commented on #7
@benguild Would you be able to make a gist of your wrapper if you still have it? I'd be extremely grateful!

[2016-07-15 01:26] benguild commented on #7
It's an incomplete implementation. I did consider it at the time, but it's not for general purpose use. More just for my software's needs.

It wasn't difficult. What are you having trouble with?

[2016-07-15 10:12] asib commented on #7
Sorry, I'm being a pain. I think I've put something reasonable together, I just wanted to cross-reference to see if I'd done something bone-headed, non-idiomatic, etc.

[2016-07-19 18:07] kevin-chen-bcgdv commented on #39
If you're interested, you could use my fork version for now
https://github.com/kylef/JSONWebToken.swift/pull/40

[2016-07-22 12:12] asib opened #41 "Make algorithm parameter optional for decode"
`decode` only needs an algorithm if `verify` is `true`, otherwise it never even touches the `algorithm` parameter. This means even when I'm not verifying the JWT, I have to pass some sort of algorithm who's values are of no consequence.

I think even passing `Algorithm.None` is slightly misleading, because a JWT can be encoded using `Algorithm.None`, so there's still an implication that something

[2016-07-25 07:56] aldocyanlabs commented on #39
@kevin-chen-bcgdv hi I'm using your fork version, but  the cryptoswift that include in your fork still in swift 2. Am i doing it wrong?

[2016-07-25 17:34] kevin-chen-bcgdv commented on #39
@aldocyanlabs, please specify the cryptoswift in the Podfile to swift 3 branch

https://github.com/krzyzanowskim/CryptoSwift/tree/swift3

pod 'CryptoSwift', :git => "https://github.com/krzyzanowskim/CryptoSwift", :branch => "swift3"

[2016-08-01 04:21] askingquestion opened #42 "Umbrella header 'JSONWebToken-umbrella.h' not found."
When I run JWT, I got Umbrella header 'JSONWebToken-umbrella.h' not found.

I used cocoapods, already reinstall and still got Umbrella header 'JSONWebToken-umbrella.h' not found error.

How to correct this?
![screen shot 2016-08-01 at 11 18 22 am](https://cloud.githubusercontent.com/assets/20764452/17283403/0c6bacd0-57da-11e6-9b1e-596dfd049b37.png)

[2016-08-06 20:40] penne12 commented on #6
👍

[2016-08-07 23:27] ed-mejia commented on #39
We need an official Swift 3 branch ..

+1 this!

[2016-09-08 14:22] nadav96 commented on #39
@kevin-chen-bcgdv Hey dude awesome fork, I saw that you guided @aldocyanlabs  on how to set the CryptoSwift to the correct swift3 branch in Cocoapods, but I'm failing to do the same on Carthage, can you help?

[2016-09-08 18:14] xmkevinchen commented on #39
@nadav96
in the Cartfile

github 'krzyzanowskim/CryptoSwift' 'swift3'

Should work

[2016-09-08 18:22] nadav96 commented on #39
@xmkevinchen Unfortunately I already tried that, as follows:
`github "xmkevinchen/JSONWebToken.swift" "swift-3"`
`github "krzyzanowskim/CryptoSwift" "swift3"`

The problem is that that carthage is trying to build the CryptoSwift framework **twice** (once as a nested requirement in the fork, and the other for what I stated in the Cartfile)

`*** Fetching CryptoSwift
*** Fetching JSONWebToken.swift

[2016-09-08 18:38] xmkevinchen commented on #39
I'm also working on upgrading to GM Xcode version, so I'll let you know later

[2016-09-08 18:44] xmkevinchen commented on #39
@nadav96

BTW, what's your `xcode-select -p` output in the command line?

[2016-09-08 18:50] nadav96 commented on #39
@xmkevinchen
`/Applications/Xcode8.app/Contents/Developer`

*Download the GM version and moved it to the applications as Xcode8.app

[2016-09-08 23:24] xmkevinchen commented on #39
@nadav96

I think just put this line in Cartfile will be fine

[code]

[2016-09-08 23:25] xmkevinchen commented on #39
Pull Request #43 is the latest code for supporting Xcode 8 GM

[2016-09-08 23:36] xmkevinchen commented on #39
For CocoaPods

[code]

[2016-09-08 23:48] nadav96 commented on #39
@xmkevinchen Awesome it works! Thanks.

[2016-09-09 09:14] p2 commented on #42
You will get the "umbrella" error whenever a library fails to build. If you're using Xcode 8 you'll have to wait for #39.

[2016-09-09 21:27] xmkevinchen commented on #42
@askingquestion, if you don't mind, you could just use my forked version which is described in #39

[2016-09-13 10:04] kylef commented on #38
Could you please share your `Podfile.lock` showing the versions of dependencies used. Along with mentioning which version of Swift and Xcode you are using.

[2016-09-13 10:06] kylef commented on #39
Swift 3.0 support has been added in [JSONWebToken 2.0.0](https://github.com/kylef/JSONWebToken.swift/releases/tag/2.0.0).

[2016-09-13 10:06] #39 closed

[2016-09-13 10:42] kylef commented on #41
@asib You can already pass in an empty array (no algorithms):

[code]

I think this is a better approach than making algorithm optional. Making the algorithm optional promotes using JSONWebToken as a library to decode JSONWebToken without verifying the token. It also makes it easier to mis-use JSONWebToken and accidentally pass in `nil` instead of a valid algorithm when you are trying to verify.

[2016-09-13 10:42] #41 closed

[2016-09-13 10:42] #38 closed

[2016-09-13 10:42] kylef commented on #42
This should have been resolved by JSONWebToken 2.0.1.

[2016-09-13 10:42] #42 closed

[2016-09-22 09:05] ogezue opened #44 "Difference Swift 3.0 and Swift 2.0 release"
I adopted to Swift 3.0 and figured out to make it work correctly. The signature gets verified if I set "secret base64 encoded" to true.

Here the code:

[code]

Now I want to do the same for an old Swift 2.2 project.
Here the signature is only valid if I **uncheck** "secret base64 encoded".
Here the code:
`return JWT.encode(["userid": userID], algorithm: .HS256("My20CharSecret"))`

What do I have

[2016-10-02 17:30] kaunteya opened #46 "Support for ES256 signature"
Any plans?

[2016-10-10 16:12] hamchapman opened #47 "watchOS error with Carthage"
Xcode: 8.0 (8A218a)
Sierra 10.12
JSONWebToken.swift version 2.0.1

`Cartfile`:

[code]

`Cartfile.resolved`:

[code]

When using Carthage to install the library (running `carthage update` I'm getting this error, in relation to CryptoSwift.

[code]

The target I'm trying to add this to is a target with support for iOS, tvOS, macOS and watchOS.

[2016-10-10 20:42] hamchapman commented on #47
After some testing, this looks like a problem with Crytoswift and it not specifying deployment targets for tvOS or watchOS. I've made a pull request to update it here: https://github.com/krzyzanowskim/CryptoSwift/pull/357

[2016-10-10 21:11] emaloney commented on #47
I just hit the exact same problem myself. Would be great to be able to compile for tvOS 9.x and watchOS 2.x, especially since I've already shipped a tvOS 9.x app that includes CryptoSwift.

[2016-10-10 21:12] hamchapman commented on #47
`github "hamchapman/JSONWebToken.swift" "update-cryptoswift-dependency"` will work if you need a temporary fix!

[2016-10-10 21:25] emaloney commented on #47
Thanks, @hamchapman.

BTW, looks like your pull request got merged into `develop` within seconds of my message. Fast service!

[2016-10-10 21:26] kylef commented on #47
Great, I'm gonna close this since it's been fixed upstream.

[2016-10-10 21:26] #47 closed

[2016-10-10 21:26] kylef commented on #47
Thanks for digging into this and resolving the underlying issue @hamchapman.

[2016-10-14 10:33] dannylewis-sheffield opened #48 "Claims should be marked as public"
Claims can't be used in other modules as they are not marked as public.

[2016-10-27 11:12] sujaykakkad opened #51 "Build failing on linux"
I have ubuntu 16 and the terminal shows this error while building

[code]

[2016-10-27 12:55] kylef commented on #51
JSONWebToken doesn't offer any Linux support at the moment. It is something I'd like to support after getting #45 completed.

[2016-11-10 09:26] aldocyanlabs commented on #34
HI I've got the same "Issued at claim (iat) is in the future" error message when decoding. Is there any way to fix this without change server time? @kylef

[2016-11-14 06:02] sujaykakkad commented on #51
Ok So when it will ready on Linux?

[2016-12-02 19:29] kylef commented on #44
Only JSONWebToken 2.0.1 supports passing data to encode/decode. Older versions of JSONWebToken must take strings.

[2016-12-02 19:29] #44 closed

[2016-12-02 19:33] #22 closed

[2016-12-02 19:33] #51 closed

[2016-12-02 21:16] kylef commented on #46
Dupe of https://github.com/kylef/JSONWebToken.swift/issues/5

[2016-12-02 21:16] #46 closed

[2016-12-02 21:34] kylef commented on #5
@ColtonProvias I wouldn't be against it. It would be nice to use a known security library under the hood. Providing we can 1) make installation simple, 2) support all Apple platforms, Linux, fBSD.

[2016-12-02 22:46] #48 closed

[2016-12-07 19:53] aramikg opened #52 "update dependencies to support xcode 8.1 swift 3.0.1"
specifically
`github "krzyzanowskim/CryptoSwift"`

Please.

[2016-12-07 19:55] kylef commented on #52
@aramikg Would you be interested in making a pull request to make these changes?

[2016-12-14 18:41] krzyzanowskim commented on #52
it's "3.0" again with Xcode 8.2

[2017-01-16 00:30] penne12 commented on #5
@kylef I'd like something that uses Apple's built in ECDSA signatures, so that I can use the Secure Enclave.

Could I submit a PR?

[2017-01-16 12:19] kylef commented on #5
@penne12 Do you think you think we could support ES256 on iOS, tvOS and watchOS using `SecKeyRawSign` and fallback to the current behaviour by not supporting ES256 on other platforms, this will keep the current support on Linux and macOS. If so I'd love a pull request.

[2017-01-16 17:12] penne12 commented on #5
@kylef I could add in a [build directive](http://stackoverflow.com/a/24065534/3144928), maybe?

Not sure, I'm fairly new to the language (and I haven't worked with compiled languages in a while, either)

[2017-01-16 17:23] kylef commented on #5
@penne12 yes that would work. Sounds great!

[2017-01-16 17:24] kylef commented on #5
@penne12 If you hit any problems, feel free to make a PR with your work in progress and I can give you pointers if you get stuck with anything.

[2017-01-16 17:24] penne12 commented on #5
@kylef Sounds good.

[2017-01-17 15:43] dannylewis-sheffield opened #53 "New tag with ClaimSet changes"
Hi

Can you tag the code if you think it's stable with the ClaimSet changes.  See #49

Thanks

[2017-01-18 15:52] kylef commented on #53
-> https://github.com/kylef/JSONWebToken.swift/releases/tag/2.1.0

[2017-01-18 15:52] #53 closed

[2017-01-18 15:59] dannylewis-sheffield commented on #53
Hi

Thanks for doing this, I appreciate your code and contributions to the community.

Best regards
Danny

[2017-01-19 06:28] realmike33 opened #54 "Issued at claim (iat) is in the future"
Got this error when trying to decode JWT. As per the [python implementation](https://github.com/jpadilla/pyjwt/issues/190), this shouldn't be a thing.

Should update.

[2017-01-19 06:42] realmike33 commented on #54
opened pull request

[2017-01-27 15:35] JaapWeijland opened #58 "Not all classes being downloaded with the Pod"
I installed JWT through cocoapods. pod 'JSONWebToken'. The example tells me to use the ClaimSet class, which isn't downloaded.  The only classes downloaded are Base64, Claims, JWT, and Decode. Xcode doesn't recognize any other classes mentioned in the guides (makes sense, since they don't appear in my pod workspace either).

[2017-01-27 15:36] kylef commented on #58
@JaapWeijland Which version did you install with CocoaPods?

[2017-01-27 15:41] JaapWeijland commented on #58
Dont know, how can I see that? I just installed by adding pod 'JSONWebToken'. Found out just now that installing this with this line "pod 'JSONWebToken', :git => 'https://github.com/kylef/JSONWebToken.swift.git'" does work.

[2017-01-31 09:01] tuxfamily opened #59 "Ambiguous use of decode (v. 2.1.0)"
Hello.

After an upgrade from JSONWebToken 2.0.1 to 2.1.0

I get the following error:
Ambiguous use of 'decode(_:algorithm:verify:audience:issuer:)'

My code
`let payload = try JWT.decode(cryptedResponse, algorithm: .hs256((api.key).data(using: .utf8)!))`

And when I click on "decode", XCode leads me to this
`typedef struct vImage_CGImageFormat
{
    uint32_t                bitsPerComponent;
    u

[2017-02-13 20:39] treaves commented on #59
The issue is that there are now duplicate method signatures for the two decode functions.  They return different types.  To disambiguate you need to use the type for the variable or constant name.
`let claims : ClaimSet = `
instead of:
`let claims = `

[2017-02-16 18:26] tbass134 commented on #6
any updates on this?

[2017-03-06 15:52] Headstock67 opened #61 "Subject (sub) claim"
I was hoping that I would be able to create tokens within the app to create a custom login to Firebase 3. However this requires that the Subject (sub) claim be set as per below:

"sub	Subject	Must be a non-empty string and must be the uid of the user or device."

Is this something that can be supported please?

[2017-03-06 16:11] kylef commented on #61
@Headstock67 It's already supported, you can supply the `sub` claim when encoding: https://github.com/kylef/JSONWebToken.swift#encoding-a-claim

[2017-03-06 20:13] Headstock67 commented on #61
Thanks for super quick response, I'll give it a go.

[2017-03-06 20:13] #61 closed

[2017-03-07 09:23] Headstock67 opened #62 "pod install installs version 2.0.2 and not 2.1.0"
Hi there

2.1.0 does not install via pod (using cocoapod 1.2.0)

I've tried 'pod repo update' before 'pod install' and I have also tried changing the podfile.lock entry from:
'JSONWebToken (2.0.2):
    - CryptoSwift (~> 0.6.1)'
to:
 'JSONWebToken (2.1.0):
    - CryptoSwift (~> 0.6.1)'

but get the error: _[!] Unable to satisfy the following requirements:

- `JSONWebToken` required by `Podfile`
- `

[2017-03-07 12:47] Headstock67 commented on #62
I have resolved the problem.

Instead of adding pod 'JSONWebToken' to the podfile as per the instructions on the GitHub page.

I changed it to explicitly point it to the URL where the latest version is held.

pod 'JSONWebToken', :git => 'https://github.com/kylef/JSONWebToken.swift'

I am new to cocoapod so this may have been obvious to most but hopefully this information will help others.

[2017-03-08 11:11] kylef commented on #62
I think what you needed to do before was `pod update`, to update the version of JSONWebToken in your lock file.

[2017-03-13 21:19] CocoaPriest opened #63 "Swift packager install fails"
`error: rename error: Directory not empty (66): /Users/x/dev/p/server/Packages/CryptoSwift.git -> /Users/x/dev/p/server/Packages/CryptoSwift-0.6.7`

[2017-03-31 15:05] JonathanRosado commented on #41
+1 Not all use cases require warrant the verification of the token. Not making the algorithm optional was very confusing since you don't need an algorithm to decode base64.

[2017-03-31 15:11] gabrielnieves18 commented on #41
1+ I agree with @JonathanRosado . Mostly on the confusing part.  Not making the value optional and adding an Enum of Algorithm.none just adds to the confusion.

I would suggest at least adding an example to the README.

[2017-04-05 08:34] IrfanMarwat opened #65 "Unable to decode Payload other than [String: Any]"
I am receiving Array of objects encoded from server. But since Payload is of type [String: Any], so its not decoding the array (json array).

[2017-04-05 14:40] kylef commented on #65
Hi @IrfanMarwat, I'm not sure I understand the problem. Would you be able to share perhaps a small code example or some more information to help me understand please.

[2017-04-09 12:16] IrfanMarwat commented on #65
My server is encoding something like this:

[
  {
    "key1": 1,
    "key2": "value2"
     ---
  },
  {
    "key1": 1,
    "key2": "value2"
     ---
  }
---
]

Top level is Array, inside array are Dictionaries.

When I tried to decode this type of encoded data, Its not able to decode.

As this line in Decode.swift:

let payload = (try? JSONSerialization.jsonObject(with: payloadData!, options: JSON

[2017-04-10 08:37] xandros6 opened #66 "Problem with "krzyzanowskim/CryptoSwift""
I have a project with both "krzyzanowskim/CryptoSwift" and "kylef/JSONWebToken.swift".
But the latest version of CryptoSwift is 0.6.8 and the latest used by JSONWebToken is 0.6.1, so at runtime it uses the 0.6.1 and I receive :

[2017-04-10 09:59] kylef commented on #65
@IrfanMarwat Could you please link me to the part of the JWT specification where it shows that is permitted? I do not see that.

[2017-04-10 10:55] IrfanMarwat commented on #65
This is data encoded by PHP using key secret and hs256. On online editor I am able to decode this.
https://jwt.io/

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.W3sia2V5MSI6InZhbHVlMSIsImtleTIiOiJ2YWx1ZTIiLCJrZXkzIjoidmFsdWUzIn0seyJrZXkyMSI6InZhbHVlMSIsImtleTIyIjoidmFsdWUyIiwia2V5MjMiOiJ2YWx1ZTMifV0.oGkq_l1fjJjgDrOTeBLeBPIMq1SnIjSPPjVUIVuJYj4

[2017-04-10 11:25] kylef commented on #65
The JSON Web Token RFC 7519, section 7.2. Validating a JWT states:

The JWT specification declares that the claims set is to be a JSON object.

I'm going to close this issue, we can reopen it if you can find some section of the JSON Web Token specification that states an array is permitted.

[2017-04-10 11:25] #65 closed

[2017-04-10 11:33] IrfanMarwat commented on #65
ok thanks for the clarification.

[2017-04-12 20:39] jarrodparkes opened #67 "Requesting new release tag (2.1.1) for SwiftPM"
Currently, the latest release v2.1.0 doesn't include the PR (which adds the correct Foundation imports to `ClaimSet.swift` and `Encode.swift`) causing build errors. If you don't mind releasing a new version (v.2.1.1), that'd be great 👍

[2017-04-14 06:30] sujaykakkad opened #68 "Support for swift 3.1 on Linux"
The encode function gives a runtime error on linux
[code]

[2017-04-23 20:55] albertoig commented on #68
With Mac i have the same problem, with swift 3.1 build.

error: use of undeclared type 'Date'

[2017-04-23 21:04] albertoig commented on #62
this happends too with package installation, install version 2.0.2

[2017-04-24 06:23] sujaykakkad commented on #68
I guess for Date you need to import Foundation library
[code]

[2017-04-24 08:44] albertoig commented on #68
If i add this manualy works, but i think the repo when i add it to package.swift to download it, download a old version with 2.0.2 instead 2.1.0

[2017-04-24 08:56] #59 closed

[2017-04-24 08:57] #58 closed

[2017-04-24 08:58] kylef commented on #66
JSONWebToken depends on CryptoSwift `~> 0.6.1` which includes all releases of CryptoSwift after 0.6.1 until 0.7.0. `0.6.8` is allowed with the optimistic range specified.

[2017-04-24 08:58] #66 closed

[2017-04-24 09:00] kylef commented on #68
Could you try JSONWebToken 2.1.1?

[2017-04-24 09:01] kylef commented on #67
https://github.com/kylef/JSONWebToken.swift/commit/7cb91b9533c735e9d1325ea66be8795fae6e0a74

[2017-04-24 09:01] #67 closed

[2017-04-24 09:01] #52 closed

[2017-04-24 09:10] albertoig commented on #68
Yes of course, i will tell you in a few minutes.

2017-04-24 11:00 GMT+02:00 Kyle Fuller <notifications@github.com>:

--
-----------------------------------------------------------------------------------------------------------------------------

*Correo personal de Alberto Iglesias Gallego.*

Antes de imprimir este e-mail piense bien si es necesario hacerlo. El
medioambientees cosa de todos.

[2017-04-24 10:21] albertoig commented on #68
Right now with version 2.1.1 is working. Thanks!

[2017-04-24 11:24] #68 closed

[2017-04-27 18:35] jupl opened #69 "Get Raw ClaimSet Data"
I'm using `let payload: Payload = try JWT.decode(...)` to get the dictionary data to pass off to a 3rd party library. I'm getting a deprecated notice so I try `let claimSet: ClaimSet = JWT.decode(...); claimSet.claims` but get the error `'claims' is inaccessible due to 'internal' protection level`.

[2017-05-13 09:44] albertoig opened #70 "Header values are in diferent order"
In most of JWT implementations in other languages the header start with typ property and after alg. Why in swift alg property on header is first?

[2017-05-13 11:30] kylef commented on #70
That can be down to implementation details in some other JSON Serialisers. JSON Objects are unordered set of name/value pairs. The order has no significance in the specification.

[2017-05-13 11:30] #70 closed

[2017-05-18 10:53] #62 closed

[2017-05-29 06:56] benguild commented on #69
I also need this, or the best possible way to convert to an `NSDictionary` for an Objective-C implementation.

[2017-05-29 15:09] SpacyRicochet commented on #65
As an interesting addition, the jwt.io decoder is indeed not strict enough. Here is the founder of Auth0 weighing in on Twitter; https://twitter.com/woloski/status/869206785193893888

[2017-05-31 11:18] SpacyRicochet commented on #58
Just encountered the exact same issue. Mostly likely cause is your CocoaPods repository cache not being up to date.

For anyone coming here in the future, try the following;

[code]

[2017-05-31 17:09] SpacyRicochet opened #73 "Difference between JWT Tokens"
I'm currently trying to generate a simple JWT, where the only payload is a expiration date. However, my implementation when trying to use this library appears to generate a different token than when when I use https://github.com/yourkarma/JWT or when checking jwt.io (these two are consistent with each other).

Using the CocoaPods Playgrounds gem (`gem install cocoapods-playgrounds`), I tried out b

[2017-06-05 12:48] SpacyRicochet commented on #73
Ah, I found it. Because `encode(:,:)` uses a plain dictionary, it doesn't enforce any particular order for that library. What actually gets encoded is:

    {"alg":"HS256","typ":"JWT"}

This results in the expected payload according to JWT.io. So, no errors here!

[2017-06-05 12:48] #73 closed

[2017-06-07 12:18] genedelisa opened #74 "Adding to the Header"
You hardcode the header like this in Encode.swift

    let header = encodeJSON(["typ": "JWT", "alg": algorithm.description])!

The new Apple MusicKit framework requires a key "kid" in the header.
Since there doesn't seem to be a way to add to the header, I had to make the modification in Encode.swift.

Consider adding this capability to your library.

See [MusicKit](https://developer.apple.com/lib

[2017-06-07 17:10] kylef commented on #74
@genedelisa I've added support for this in a4ce3ac which can be found in master. For now you will have to depend on master to use this functionality, it will make it into the next release soon.

[2017-06-07 17:10] #74 closed

[2017-06-07 20:51] genedelisa commented on #74
Good work. Thank you.

[2017-06-08 09:54] Dschee opened #76 "Support for Swift 4"
Currently support for Swift 4 is not given due to the dependency CryptoSwift. It was solved already though in the develop branch and I'm sure a release is gonna be made soon. Until then I created #75 for all who can't wait to solve this issue.

[2017-06-14 10:16] kashiftriffort commented on #69
How can we use this in Objective-C any Idea. I have used cocoapods file for Swift, but calling JWT file in Objective-C not working.

[2017-06-14 10:18] benguild commented on #69
@kashiftriffort You need to wrap the methods you need in a bridge file. However, this issue is specifically surrounding the fact that the code was changed recently and it's now throwing a warning that a certain method that helped enable this is deprecated.

[2017-06-14 10:25] kashiftriffort commented on #69
I don't think we need a bridge file for this, after Cocopods installed, I can directly called #import "JWT-Swift.h", into Objective-C file and option for bridging header is not provided in Objective-C target. But I am not sure about how to set claims using Swift file.

[2017-06-15 09:43] Joannis commented on #63
@CocoaPriest @kylef The issue here is with MongoKitten and other projects that rely on CryptoSwift. [This line of code](https://github.com/kylef/JSONWebToken.swift/blob/master/Package.swift#L6) doesn't contain the `.git` suffix that everyone uses.

[Unlike here](https://github.com/OpenKitten/MongoKitten/blob/mongokitten4/Package.swift#L19) and [here](https://github.com/kylef/Stencil/blob/master/Pa

[2017-07-05 23:49] bengottlieb commented on #5
@benaubin Just a re-request for ES256 support, if you've got it working. Thanks!

[2017-07-21 09:23] below commented on #25
Should this be fixed as of now?

[2017-08-04 17:14] #63 closed

[2017-08-09 15:25] rudresha opened #80 "Support for Swift 2.1"
Hi ,
can you please provide version of lib that support swift 2.1 ? It would be of G8 help !

[2017-08-09 17:39] kylef commented on #80
Hi, you can use version [1.5.0](https://github.com/kylef/JSONWebToken.swift/releases/tag/1.5.0) of the library. That should be the last version that works with Swift 2.1.

Swift 2.1 is really old though, I'd recommend using Swift 3/4 which is what future development of this library will support.

[2017-08-09 17:39] #80 closed

[2017-08-16 23:07] sathishkraj opened #81 "Xcode 9 beta 5 build failed"
Xcode 9 beta 5, swift 3.2 with carthage version 0.23.0, currently using "kylef/JSONWebToken.swift" "2.1.0" version. fails building CryptoSwift

[2017-08-16 23:50] sathishkraj commented on #81
got it, confused with swift 4 complier. using "master" solved it

[2017-08-17 17:16] sathishkraj commented on #81
but "2.1.0" should compile in xcode 9 right. will there be any fix for this error? Build Failed Task failed with exit code 65:, This usually indicates that project itself failed to compile.

[2017-08-30 00:01] Tim77277 opened #82 "Build Failed on Xcode 9 Beta 6"
It shows No module found, and CyptoSwift files appears with many syntax error. I have tried to install it on Xcode 8 and it worked fine. But I am trying to use the Apple Music API which requires Xcode 9 Beta 6, can you confirm the error when you have time, please? Thank you

[2017-08-30 00:03] kylef commented on #82
@Tim77277 Are you hitting the same problem by installing JSONWebToken from master? I think that should solve problems with CryptoSwift.

[2017-08-30 13:08] Tim77277 commented on #82
All I did was put the pod 'JSONWebToken' in my pod file and pod nstall. Should I install a different version?

[2017-08-30 13:41] Tim77277 commented on #82
@kylef
I just tried to install from master branch and it fixed the problem.

For people who encounter the same issue as me, can just replace this line in your pod.

`pod 'JSONWebToken', :git => 'https://github.com/kylef/JSONWebToken.swift.git', :branch => 'master' `

Thanks for the help

[2017-09-04 14:37] jmprice18 commented on #82
@kylef Are there plans to do a release with current `master` changes?  Cannot specify branch or commit in a podspec file.

[2017-09-07 07:54] JanBrinker commented on #54
I'm having the same issue from time to time. As far as I see this happens due to rounding of the timestamps. For example this morning I sent a request and got a token in response that had an iat of 1504765492. Just before validating the token I printed out my current timestamp and it was 1504765491.78288. As the token expects an integer in the iat field and iOS's Date() uses Double to model sub se

[2017-09-07 11:11] kylef commented on #54
@JanBrinker I think the better solution would to be support some form of leeway, some value of time that can be passed to the library to allow extra time.

   a few minutes, to account for clock skew.  Its value MUST be a number
   containing a NumericDate value.  Use of this claim is OPTIONAL.

[2017-09-07 11:26] JanBrinker commented on #54
@kylef that could work aswell and could also be implemented more nicely by just using `Date().addingTimeInterval(...)` for comparison instead of `Date()`.

In that case the question would be how to pass the leeway into the library or whether it should be a constant. What do you think?

[2017-09-07 11:31] kylef commented on #54
@JanBrinker I think I'd do the following:

- Make the date validation functions accept the Integer (or Double) leeway https://github.com/kylef/JSONWebToken.swift/blob/master/Sources/ClaimSet.swift#L134. Optional and nil by default.
- `validate` should have same optional argument and pass down https://github.com/kylef/JSONWebToken.swift/blob/master/Sources/ClaimSet.swift#L96
- Then same again for t

[2017-09-07 12:13] JanBrinker commented on #54
@kylef shall we introduce several different `leeway`s for the different claims? So one for `nbf`, one for `exp` and one for `iat`? Even if a leeway for `iat` is not defined in the specs?

[2017-09-07 12:24] kylef commented on #54
@JanBrinker I think it would be rare that a user would want that granularity, that they would want to specify different values (but I could be wrong).

The design would allow them to do this by manually calling the validations for this unusual case. Do you think there would be a warrant for use-case to provide separate values in the code and validate functions?

[code]

I would lean towards a sing

[2017-09-07 13:16] JanBrinker commented on #54
I was just thinking about the two different cases that we have with `exp` (`leeway` is subtracted from `Date()`) vs. `iat` and `nbf` (`leeway` is added to `Date()`). But you're right. Let's go for one parameter. The purpose is to account for skewed clocks. Clock skew does not change that fast to matter differently for different checks.. or if it does you have different problems anyway.

I'm on it

[2017-09-07 13:19] kylef commented on #54
@JanBrinker Awesome, let me know if you need any help.

[2017-09-11 12:53] kylef commented on #54
Closed by #83.

[2017-09-11 12:53] #54 closed

[2017-09-12 05:35] mkBajaj commented on #82
Is there way to include master branch in private pod spec file , Currently I am using
pod 'JSONWebToken'   in private pod spec which is gives above same issue in Xcode beta 6. Please help , Thank you.

[2017-09-18 20:40] marcioarantes-ww commented on #82
@kylef any idea when you'll be able to publish master? as @jmprice18 mentioned podspec versioning isn't supported :/

[2017-09-18 20:43] marcioarantes-ww commented on #82
@kylef https://github.com/krzyzanowskim/CryptoSwift/releases/tag/0.7.0

[2017-09-20 00:38] kylef commented on #81
https://github.com/kylef/JSONWebToken.swift/releases/tag/2.2.0 works with Swift 4.

[2017-09-20 00:38] #81 closed

[2017-09-20 00:38] kylef commented on #76
https://github.com/kylef/JSONWebToken.swift/releases/tag/2.2.0 works with Swift 4.

[2017-09-20 00:38] #76 closed

[2017-09-20 00:38] kylef commented on #82
https://github.com/kylef/JSONWebToken.swift/releases/tag/2.2.0

[2017-09-20 00:38] #82 closed

[2017-09-21 07:21] gongyucheng opened #85 "it can't be used in Swift4"

[2017-09-21 08:24] kylef commented on #85
Can you share a bit more info such as the platform or some build error?

The Xcode project attached builds find with Swift 4.

[2017-09-22 09:23] JanBrinker commented on #85
I'm interested in this aswell. Basically it's the dependency to CryptoSwift. When compiling my project with Xcode 9 I don't get any errors in the JSONWebToken pod but in CryptoSwift:

<img width="976" alt="bildschirmfoto 2017-09-22 um 11 11 28" src="https://user-images.githubusercontent.com/11256194/30737461-0bc3e09a-9f87-11e7-96fc-b6605fa46817.png">

I think the current CryptoSwift (0.7.2) does s

[2017-09-22 09:32] kylef commented on #85
@JanBrinker Are you using JSONWebToken 2.2.0? CryptoSwift shouldn't be used when building in Xcode.

[2017-09-22 09:40] JanBrinker commented on #85
I'm terribly sorry to have bothered, you were completely right. Things look well now :) 👍

[2017-09-22 09:45] kylef commented on #85
That's great to hear updating solve this for you.

Thanks for reporting here @JanBrinker.

[2017-09-22 09:45] #85 closed

[2017-09-27 07:56] somessss opened #88 "Ambiguous reference to member 'encode(claims:algorithm:)'"
When I running the code as below on the Xcode8.3.2 it's showing the error:Ambiguous reference to member 'encode(claims:algorithm:)'
so how can I fix the issue?

       `var claims = ClaimSet()
        claims.issuer = "fuller.li"
        claims.issuedAt = Date()
        claims["custom"] = "Hi"

        let stringValue = JWT.encode(claims:claims,algorithm: .hs256("secret".data(using: .utf8)))`

[2017-09-27 08:22] somessss commented on #88
I solved this issue but I don't know the reason.I just add ! in the back of utf8 then the error disappear.
The right code as below:
let stringValue = JWT.encode(claims:claims,algorithm: .hs256("secret".data(using: .utf8)!))

[2017-09-27 08:22] #88 closed

[2017-09-27 08:27] somessss commented on #88
I solved this question that I just add !  in the back of utf8 then the error disappear.
The right code as below:
But I don't know the reason

         `let stringValue = JWT.encode(claims:claims,algorithm: .hs256("secret".data(using: .utf8)!))`

[2017-09-27 11:22] nightshiftdev opened #89 "Project depending on JSONWebToken ver 2.2.0 (master) does not compile."
I have just updated my project to Swift 4 and Xcode 9 settings, during the upgrade efforts I also updated JSONWebToken to ver 2.2.0 (cartfile: github "kylef/JSONWebToken.swift" "master").

Unfortunately, the JWT import complains about missing required module 'CryptoCommon' (screenshot attached). This problem becomes especially apparent on my build machine where the project is built "fresh" every s

[2017-10-03 21:30] jonbrooks commented on #89
We have also run into this problem.  It seems `carthage bootstrap` is required to have been run once, where typically we just check in the built Carthage products.

[2017-10-05 16:04] aluco100 opened #90 "Error "Failed to decode JWT: Unsupported algorithm or incorrect key" when I'm trying to decode my token"
I have the following code:

[code]

But I have that error. Now when I'm validating on jwt.io I had a valid decodification. There's a picture of that validation:

<img width="911" alt="captura de pantalla 2017-10-05 a la s 13 02 22" src="https://user-images.githubusercontent.com/13009279/31237522-95e5784c-a9cd-11e7-8e2a-c467db376018.png">

So i dont understand what am I doing wrong. Any suggestion?

[2017-10-05 16:14] kylef commented on #90
This library only supports the HS* algorithms listed at https://github.com/kylef/JSONWebToken.swift#algorithms. You are using the RS256 algorithm which is not supported by this library.

[2017-10-05 18:57] aluco100 commented on #90
Well, What can I do ?

[2017-10-06 17:37] loukrieg commented on #90
Hi Kyle,

There is a pending pull request from Anders Melen for adding RS256 and RS512 support… could you please take a look at that, as it would help us too!

Thanks,
   —Lou
________________________________

Lou Krieg, President
Green Mountain Software
802.865.2728 (office)
802.355.8355 (cell)
www.GreenMountainSoftware.com<http://www.greenmountainsoftware.com>     [https://greenmountainsoftware.

[2017-10-06 20:02] #89 closed

[2017-10-06 22:51] jonbrooks commented on #89
Is there a resolution or workaround to this?

[2017-10-07 09:54] kylef commented on #89
@jonbrooks Didn't you say yourself that you need to run `carthage bootstrap`?

[2017-10-09 15:01] jonbrooks commented on #89
@kylef Since this change, it seems we have to run `carthage bootstrap` any time we pull changes from git (maybe just changes that touch carthage products? not sure...), or checkout on a fresh system, like a build machine.  It's no longer possible to just check in the contents of `Carthage/Build` and have that be able to build and run.

[2017-10-09 15:46] kylef commented on #89
I do not use Carthage so I am not entirely sure, but looking the vague documentation for Carthage it says to run `carthage bootstrap` before running a project using Carthage. Isn't this expected?

https://github.com/Carthage/Carthage#running-a-project-that-uses-carthage

[2017-10-11 16:09] jonbrooks commented on #89
I guess the documentation is more vague than I realized, but in general, Carthage builds standalone frameworks that are put in `Carthage/Build`, so by checking that folder into git, a user can typically just checkout and build with no carthage steps required.  The `JSONWebToken` build run by Carthage does some sort of side effect that is required for a successful build, and just checking in the bu

[2017-10-11 20:59] raphaelcruzeiro opened #91 "Decode a JWT without verifying the signature"
I'm trying to use this library to decode a JWT and extract some claims. My problem is that I cannot get it to decode the token without trying to validate the token and I don't want my client app to know my secret for security reasons (the token came from the server. the app should just assume it's good). Is there anyway to extract the claims without validating the signature?

[2017-10-11 21:28] raphaelcruzeiro commented on #91
I just realised I can just split the token, get the middle part and decode it as it basically just a base64 encoded string. Closing this issue due to me being an idiot.

[2017-10-11 21:28] #91 closed

[2017-10-12 09:12] kylef commented on #91
Hi @raphaelcruzeiro, you can also provide `verify: false` to the `decode` method. Then you can inspect and do any manual validation of the claim set.

[2017-10-12 09:53] IvoPintodaSilva opened #92 "Missing required module 'CommonCrypto'"
On Xcode 9, when installing the library through Carthage I get the following error when building my project:

"Missing required module 'CommonCrypto'".

However, on my development computer, this error does not appear.
The only difference I noticed is that on my own computer I have the "Checkouts/JSONWebToken" folder that contains the modulemap for CommonCrypto.
In my CI computer, I don't have the

[2017-10-12 11:57] IvoPintodaSilva commented on #92
Fixed.

I removed the "import JWT" from the file where I'm using it and now it builds and works properly.
However, I didn't understand why this is happening.

[2017-10-12 12:02] #92 closed

[2017-10-19 15:09] TinyBun commented on #92
I'm having a similar issue where my CI fails with an error: missing required module 'CommonCrypto' but my development computer works fine.

Removing the "import JWT" line didn't work for me, it's just giving me errors of use of undeclared types.

[2017-10-19 15:15] IvoPintodaSilva commented on #92
Turns out that I wasn't using the library in the project and forgot to clean it.
But it's an odd error to have, I couldn't understand why it was happening on my CI and not locally...

[2017-10-19 15:18] TinyBun commented on #92
@IvoPintodaSilva Thanks for the update.

With that being said, this issue is not really fixed and closed then...

@kylef Can we get this sorted out?

[2017-10-19 15:33] kylef commented on #92
As per the [Carthage nested dependencies documentation](https://github.com/Carthage/Carthage#nested-dependencies), you will need to add the CommonCrypto framework to your project.

[2017-10-19 16:22] TinyBun commented on #92
I'm sorry if I'm asking a dumb question, but how exactly should I add the CommonCrypto framework to my swift project in this case?

[2017-10-24 20:27] jshier commented on #69
I also need the data, as I have an API which returns a JWT body for certain responses, which I would like to feed to `JSONDecoder`. For now I've forked and make `claims` public, and I convert that back to JSON data before decoding.

[2017-10-25 03:50] benguild commented on #69
I don’t know what the status of this is but I still believe it is overly abstracted.

[2017-10-30 10:57] eeu479 opened #93 "Update to use CryptoSwift 0.7.1"
The current build of JSONWebToken is using crypto swift 0.6.9.

I noticed the CI Build failed with commit "UPDATED to use crypto swift 0.7"

Has any progress been made on updating to use >0.7?

[2017-12-05 17:03] dileep017 commented on #6
Any updates on this??

[2017-12-19 18:35] jonblatho commented on #93
I have opened a pull request (#96) which brings the CryptoSwift version to 0.8.0 and fixes another issue which prevented successful builds. I have verified that builds are successful on both macOS and Linux.

If you need to, you can use my fork at the master branch while the PR awaits review. I don’t plan on making any further changes that would break the project, so referencing the master branch

[2017-12-30 19:14] obozhdi opened #97 "Problem"
<img width="930" alt="screen shot 2017-12-30 at 21 12 43" src="https://user-images.githubusercontent.com/2124267/34456718-5703d868-eda6-11e7-9f36-85552412bd35.png">

Just a simple method in 2 different projects. First working fine, second wont compile. Any ideas?

[2018-01-18 08:31] guykogus commented on #97
You need to encapsulate your `claims` using the `ClaimSet` struct.

[code]

[2018-01-18 08:33] guykogus opened #98 "Warning in Swift 4"
Can you please release a new version so that we can remove the warning for use of `characters` that was fixed here:
https://github.com/kylef/JSONWebToken.swift/commit/69866e1cb1f72d6a61ebaa45615f4bc6c4350ee7#diff-919b43a5ac759b7a00af61a3a6798f6b

[2018-01-20 11:48] Wooder commented on #69
I 've created a pull request that makes "claims" accessible for reading.
See https://github.com/kylef/JSONWebToken.swift/pull/99

If you need a "fast solution" you can use my forked version
    pod 'JSONWebToken', :git => 'https://github.com/Wooder/JSONWebToken.swift.git'
as temporary workaround.

[2018-01-31 09:06] SwiftExpert opened #101 "Ambiguous reference to member 'encode(claims:algorithm:headers:)"
Hi. when im using encode function i get this error: Ambiguous reference to member 'encode(claims:algorithm:headers:)'

Swift version issue i guess? are you planning to upload a new version?

![screen shot 2018-01-31 at 10 49 09 am](https://user-images.githubusercontent.com/35992075/35614075-89ef7140-0676-11e8-8b7b-0c5e7dd3639e.png)

[2018-01-31 13:08] kylef commented on #101
I think it could be that it is treating the dictionary as `[String: String]` where the encode method expects `[String: Any]`. Does casting this possible help?

[code]

[2018-01-31 13:57] SwiftExpert commented on #101
Tried doing it, didnt help. but figured it out. i needed to unwrap "secret".data(using: .utf8)" it returns an optional Data object. though i don't know how the error("Ambiguous reference") relates to it...

[2018-01-31 16:45] jordilaforge commented on #98
I would be interested in losing that warning too. Thank you

[2018-02-07 00:56] rickrizzo commented on #101
Had this error too. It'd be great if the README were updated to reflect this fix

[2018-02-07 09:14] #101 closed

[2018-02-07 18:58] srozner opened #102 "CommonCrypto modulemap doesn't work with Swift framework"
I am using JSONWebToken within my own Swift framework. This does not work with the standard modulemap CommonCrypto solution. I found this link that pulls together and describes the issues with including CommonCrypto, particularly within a Swift Framework.

http://ioscake.com/importing-commoncrypto-in-a-swift-framework.html

The easiest solution may be to include this approach specifically targeted

[2018-02-07 19:26] kylef commented on #102
@srozner Can you please share with me the error you are seeing and some steps to reproduce?

[2018-02-07 22:04] srozner commented on #102
Hopefully not too long :) but this is my understanding of old CryptoSwift use and the issue with CommonCrypto modulemap use.

OLD

Project "MySDK" included JSONWebToken pod in Podfile, which also included CryptoSwift as a dependency.

target 'MySDK' do
    use_frameworks!
    pod 'JSONWebToken'
end

So when building our app "MyApp", I directly include the "MySDK" framework built locally and must a

[2018-02-07 22:16] kylef commented on #102
Okay, so the problem is when you use JSONWebToken alongside another dependency which also contains a module map for CommonCrypto? Then at compile time they are not built isolated and thus you are hitting a duplicate module map for CommonCrypto error. Do I understand correctly?

I'm having a little bit of a difficulty the part about CryptoSwift, I'm looking at the CryptoSwift package that you menti

[2018-02-07 23:07] srozner commented on #102
I think you understand it correctly. My issue is I am including JSONWebToken through an intermediate Swift Framework of my own MySDK. So anyone using my framework (MySDK) would encounter this, as when I build MyApp which links to MySDK.

JSONWebToken switched from using CryptoSwift (which was built as a Swift Framework pod and dynamically linked) to using Apple's CommonCrypto (included as an embed

[2018-02-08 00:40] srozner commented on #102
I really, really appreciate how quick you have responded. I look forward to your eventual response, and feel free to ask for more info.

[2018-04-04 11:29] blackarcanis opened #104 "Support for ES256 signature"
Hi,
Seems useful to support ES256, Apple require it for Apple Music API
=> [https://developer.apple.com/library/content/documentation/NetworkingInternetWeb/Conceptual/AppleMusicWebServicesReference/SetUpWebServices.html#//apple_ref/doc/uid/TP40017625-CH2-SW1](https://developer.apple.com/library/content/documentation/NetworkingInternetWeb/Conceptual/AppleMusicWebServicesReference/SetUpWebServices.h

[2018-04-05 17:30] logalleg opened #105 "Support for RS256"
Hello, a good feature enhancement would be support of RS256 since this is safer than having a shared secret between the server/client

[2018-05-08 20:09] crspybits opened #107 "I don't see a .podspec"
For Cocoapods installation...

[2018-05-08 21:26] kylef commented on #107
Podspec can be found in master spec repository: https://github.com/CocoaPods/Specs/blob/master/Specs/6/1/a/JSONWebToken/2.2.0/JSONWebToken.podspec.json

[2018-05-08 21:26] #107 closed

[2018-05-20 05:13] StrawHatAaron commented on #34
I could benefit from what @aldocyanlabs asked too since I don't have access some web features at my job.

[2018-05-30 00:19] srozner commented on #102
FOLLOW UP: attempts to fix the method CommonCrypto is included have seemed futile. If you use nested dynamic framework pods using a CommonCrypto (or other?) module map, you will end up with a duplicate module map link error with no easy fix. My case is:

APP with Dynamic Framework Pods
- Include SDK Dynamic Framework
- Include JSONWebTokens Dynamic Framework Pod used by SDK (duplicate CommonCrypto

[2018-06-07 13:59] mpvosseller commented on #102
Just an FYI that in Xcode 10 beta the JSONWebToken pod now fails to build with this error. You can reproduce by creating an empty project in Xcode 10 beta, adding  the JSONWebToken pod, and building.

[code]

[2018-06-07 14:00] egv commented on #102
and do you have a solution for this in Xcode 10 beta?

[2018-06-07 14:40] mpvosseller commented on #102
@egv deleting the directory `Pods/JSONWebToken/CommonCrypto` seems to work but I'm not sure why those files were needed in the first place or if doing so has any implications I'm not seeing.

[2018-06-07 14:42] egv commented on #102
@mpvosseller thanks! Just figured that out myself half an hour ago. Now I will check if breaks build in Xcode 9.4

[2018-06-07 17:16] srozner commented on #102
I would guess Apple has "finally" exposed CommonCrypto to Swift natively. It was only Obj-C in Xcode 9, which required that module you deleted. That wrapper module caused my issue, which a huge number of people were caught out on (Stack Overflow has numerous threads). If Apple now exposes CommonCrypto to Swift natively, it makes sense that the CommonCrypto wrapper would cause a duplicate mapping.

[2018-06-26 11:06] dipenOpenxcell opened #109 "Type 'JWT' has no member 'encode'"
I have installed JSONWebToken using pod
when i am encode my dictionary then i get error "  Type 'JWT' has no member 'encode'"

please help to solve this issue.
Thanks in advance.

[2018-06-26 11:19] kylef commented on #109
Are you passing all the arguments with the correct type? See https://github.com/kylef/JSONWebToken.swift/issues/97

[2018-06-26 11:36] dipenOpenxcell commented on #109
Yes i have pass all arguments. please check attachment.
![screen shot 2018-06-26 at 5 04 41 pm](https://user-images.githubusercontent.com/28390237/41908942-3edc7a12-7963-11e8-865c-3ee6197367f5.png)

[2018-06-26 11:50] kylef commented on #109
The compiler might be tripping up on something sooner and the error message could be hiding the underlying cause. What is the type of `parameters`? Are you perhaps wrapping a dictionary inside a dictionary?

[2018-06-29 07:39] bibinjacobpulickal opened #110 "Sample code given in readme returns an error."
This is the sample code given for decoding a jwt gives an error "Failed to decode JWT: Unsupported algorithm or incorrect key", which is really undesirable from a developers perspective. I also, tried decoding my string that didn't work either
`
        do {
            let claims: ClaimSet = try JWT.decode("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e30.2_8pWJfyPup0YwOXK7g9Dn0cF1E3pdn299t4hSeJy5w", alg

[2018-07-17 15:54] ricocrescenzio95 commented on #104
Still nothing?

[2018-07-22 16:18] jonblatho opened #111 "Xcode 10 beta: CompileSwiftSources failed with a nonzero exit code"
The following build error occurs in Xcode 10 beta:

Here is the full invocation:

[code]

This occurs in the JSONWebToken project when using CocoaPods. No further information is provided.

The package *does* compile:
* With a git clone and checkout to 2.2.0, then `$ swift build` (with a warning for accessing `String.characters`)

The package *does not* compile:
* When compiled in Xcode 10 beta as

[2018-07-23 15:00] radianttap commented on #102
I've been trying to resolve this by using CCommonCrypto name instead of just CommonCrypto (which clashes with Apple's name in iOS 12). Similar to what's done in [Arcane](https://github.com/onmyway133/Arcane)

But I can't seem to get it to work properly. :(

[2018-07-24 00:08] jonblatho commented on #111
As suggested in #102, this was solved by deleting the CommonCrypto directory.

[2018-07-24 00:08] #111 closed

[2018-07-24 23:37] jonblatho commented on #98
This issue was fixed quite some time ago by the owner but no release was ever published. I’ve made a fork of this repo and published a [release](https://github.com/jonblatho/JSONWebToken.swift/releases/tag/3.0.0) that, among more significant changes, resolves that warning.

[2018-08-01 08:45] radianttap commented on #102
Now just need to figure out the incantation for the podspec file

[2018-08-03 15:01] radianttap commented on #102
@kylef, I'm not sure what's the idea with your master branch, as it seems you removed the project and podspec.

In case anyone needs to use this as CocoaPod, take a look at my [podspec branch](https://github.com/radianttap/JSONWebToken.swift/tree/podspec). This compiles just fine in both iOS 11 and iOS 12, standalone and as pod.

[2018-08-14 15:27] mejmo opened #115 "Invalid signature against Java JWT implementation"
We are using the library but it is not possible to connect to JWT enabled services because they need to have secret base64 encoded. If we encode the password at first before pushing to the library, it is still saying that the generated JWT token is invalid.

So basically... the token generated in Swift works when the signature is generated in JWT.io with `secret base64 encoded`, so the signature i

[2018-08-20 15:14] gregoireLem opened #116 "Xcode Version 10.0 beta 5 error Redefinition of module 'CommonCrypto'"
Using JSONWebToken (2.2.0)

I have this error when using Xcode Version 10.0 beta 5
![capture d ecran 2018-08-20 a 17 09 02](https://user-images.githubusercontent.com/31652880/44348846-e7c2f580-a49b-11e8-8c7a-485343de9cc3.png)

[2018-08-20 19:51] SamMcNeilly commented on #102
Hi @radianttap - this might be an _incredibly_ stupid question, but how to I use your fork with my Podfile? I'm familiar with adding sources to the Podfile (e.g. `source 'https://github.com/CocoaPods/Specs.git'`) but can't figure out how to get your fix integrated.

Apologies if I'm missing something really obvious here, and thanks for your hard work!

[2018-08-21 10:09] mkBajaj commented on #116
I am also facing same above mentioned issue.

[2018-08-21 10:27] gregoireLem commented on #116
Removing CommonCrypto file from JSONWebToken did the trick

[2018-08-21 17:59] radianttap commented on #102
@SamMcNeilly Like this:

`pod 'JSONWebToken', 	:git => 'https://github.com/radianttap/JSONWebToken.swift.git', :branch => 'podspec'
`

[2018-08-27 08:05] KeimyPlaza commented on #116
Maybe is the same issue, like #102

I hope the PR (https://github.com/kylef/JSONWebToken.swift/pull/114) will be approved soon

[2018-08-27 23:40] ethanhuang13 commented on #104
If you want to sign Apple's JWT on iOS/macOS, you could also try [CupertinoJWT](https://github.com/ethanhuang13/CupertinoJWT), which was pre-released recently. I've wrote it because I couldn't find a solution for creating JWT used for Apple's server APIs on iOS/macOS.

[2018-09-17 07:49] mihailsalari opened #117 "Version update"
Please update to remove warnings:
File Base64.swift, line 25, 'characters' is deprecated: Please use String or Substring directly.
File HMACCommonCrypto.swift, line 32, 'deallocate(capacity:)' is deprecated: Swift currently only supports freeing entire heap blocks, use deallocate() instead.

I'm using Xcode Version 9.4.1 (9F2000), Swift 4.1.

Please update or add a version for Swift 4.1 and remove

[2018-09-18 11:42] marcellofiore opened #119 "Xcode 10 - Build Error"
![screen shot 2018-09-18 at 13 41 15](https://user-images.githubusercontent.com/22861591/45685098-919fab80-bb48-11e8-8c83-7d62d4e66f1d.png)

Using JSONWebToken (2.2.0)

I have this error when using Xcode Version 10.0

[2018-09-18 13:46] novixon commented on #119
I have the same issue. I saw the 3.0.0 unofficial version, but there is no .podspec file. So I am a little bit bewildered. How do you suggest to use it?

[2018-09-18 13:48] marcellofiore commented on #119
where did you find version 3.0?

[2018-09-18 17:49] mataspetrikas commented on #119
same here, with the Pod version JSONWebToken (2.2.0)

[2018-09-19 06:00] Pivovar63 commented on #119
Same issue. Maybe it helps
[code]

[2018-09-19 06:09] nagarajaghantasala commented on #111
@jonblatho ,

If we delete CommonCrypto, then how to use it. Can you please provide the solution.

[2018-09-19 10:28] Ast3r10n commented on #111
@jonblatho There's no CommonCrypto directory under Pods/JSONWebToken. Which directory do you mean?

[2018-09-19 11:28] EdwardSun123 commented on #111
I have same issue

[2018-09-19 15:30] juchampagne commented on #119
Thats how I fixed it in the Podfile if this helps anyone:

post_install do |installer|

    installer.pods_project.targets.each do |target|

        if target.name == 'JSONWebToken'
            system("rm -rf Pods/JSONWebToken/CommonCrypto")
        end

    end

end

[2018-09-20 07:45] Ast3r10n commented on #111
I looked for the CommonCrypto directory but it just isn't there.
I have found a solution, though, as stated [here](https://github.com/kylef/JSONWebToken.swift/pull/108/commits/9d32af7d78e20dfe1a483947013882e6e7bd808d).

[2018-09-28 10:57] baikal23 commented on #115
We are having the same problem.  Any workarounds or solutions would be much appreciated

[2018-09-28 11:46] mejmo commented on #115
We found the issue - thing is, iOS needs the key in base64 encoded form. We were inserting the value in Java as following:
`String.getBytes()` and not `decodeBase64(String).getBytes()`. You have to check that you are providing the secret in correct form at each place. We had just two places (iOS and Java) and using the key differently (secret decoded from base64 and on the other place not). Hope t

[2018-09-28 14:40] kylef commented on #115
You can use the base64Encoded initialiser for Data: https://developer.apple.com/documentation/foundation/nsdata/1410081-init

[2018-09-28 14:40] #115 closed

[2018-10-24 15:18] JamaicanRumCream commented on #119
I needed to add some build variants for os types to the exclusion code by juchampagne
`if target.name == 'JSONWebToken' || target.name == 'JSONWebToken-iOS' || target.name == 'JSONWebToken-macOS' || target.name == 'JSONWebToken-tvOS'`

[2018-11-05 08:39] Benny-iPhone opened #120 "'claims' is inaccessible due to 'internal' protection level"
<img width="1003" alt="screen shot 2018-11-05 at 10 32 17" src="https://user-images.githubusercontent.com/18012200/47986754-4e909c00-e0e6-11e8-83d0-3262610e4582.png">

[2018-11-18 07:04] markltownsend commented on #119
It appears the CommonCrypto is now part of iOS 12.

[2018-12-09 16:21] dzpt opened #121 "Doesn't support json payload?"
I don't see any description about payload json format.
I've tried to set json data on it and there's no way to decode it.

[2018-12-09 16:49] Tom29 commented on #65
Hi there, i return json object but there's no way to decode it.

`
{
  "data": {
    "expiresDateMs": 123,
    "purchaseDateMs": 456
  },
  "exp": 1544347917,
  "iat": 1544347907,
  "nbf": 1544347907
}
`
How the hell can i decode `data` value?

[2018-12-12 12:42] bjeromeHCS commented on #119
Thanks @juchampagne I added that code to the end of my podfile and my Xcode 10.1 project can now build successfully with v2.2.0 👍

[2019-01-01 21:56] jonblatho opened #122 "Anyone there?"
@kylef, are you still interested in maintaining this project? If not, would you mind transferring it to someone who is? This includes me and certainly some others that have interacted with this repo in the recent past. I wouldn't normally do this, but the last commit on the master branch was almost a year ago.

There are issues and pull requests which are months old and prevent this package from b

[2019-01-31 11:02] georgeathanasopoulositt commented on #90
We do need that RS512 pull request to be handled...

[2019-02-19 13:05] caffieneToCode commented on #90
Hi @kylef
This error is quite recurring now and while debugging the library, I found that the algorithm passed to decode is being filtered out from the below method.

[code]

  /// Verify a signature for a message using the algorithm
[code]

Any Idea what went wrong here?
Because this works with other libraries..

[2019-02-21 07:27] caffieneToCode opened #123 "Failed to decode JWT: Unsupported algorithm or incorrect key for HS256 Algorithm."
Hi @kylef
This library is removing HS256 algorithm by filtering it in verifiedAlgorithms in the snippet below.
[code]
/// Verify a signature for a message using the algorithm

[code]
This works completely fine on jwt.io and the signature verifies correctly.
<img width="1440" alt="screenshot 2019-02-21 at 12 56 03 pm" src="https://user-images.githubusercontent.com/11851138/53151040-1c914000-35d8-11

[2019-02-26 14:51] hadiidbouk commented on #123
any update on this?

[2019-03-06 11:41] saltwat5r commented on #102
You can also remove CommonCrypto directory from Pods by adding this at the end of your Podfile:

    post_install do |installer|

        require 'fileutils'

        FileUtils.rm_rf('Pods/JSONWebToken/CommonCrypto')

    end

You should uninstall JSONWebToken pod at first and then install again with this script in your Podfile.

[2019-03-27 01:08] GergesEid commented on #111
In my case I connect an actual iphone not simulator and run the app once on it, It solved the problem. But connect iphone firstly, then choose it from the menu of simulators, then press run button.
The problem will solve too.

[2019-03-28 12:45] ergunkocak commented on #111
Running on real device showed me the exact error. Thanks @GergesEid

[2019-03-29 04:00] GergesEid commented on #111
You may have another reason causing this error. Regards. You are welcome @ergunkocak

[2019-03-29 11:33] YashJadhav opened #124 "Swift 5.0"
@kylef Please update JSONWebToken to latest version of Swift 5.0.

[2019-03-29 12:26] yujiea commented on #124
The latest release is one and a half years ago.

[2019-05-29 22:01] dfixbugs1 commented on #102
**See https://stackoverflow.com/questions/25248598/importing-commoncrypto-in-a-swift-framework

section:
Update for Xcode 10

Xcode 10 now ships with a CommonCrypto module map making this workaround unnecessary.**

[2019-06-04 06:24] TranTo-To commented on #124
seems there is no-one works on this at the moment. @kylef Do you need a hand for this update?

[2019-06-06 18:53] iprasla commented on #122
I agree.

[2019-06-21 18:02] nagaraju85 commented on #116
I am also facing same Issue

[2019-06-25 10:07] sashabaranov commented on #124
Looks like it is better to migrate to IBM's library https://github.com/IBM-Swift/Swift-JWT

[2019-07-14 04:26] jonblatho commented on #104
This project is seemingly no longer being maintained by its owner, but IBM’s [Swift-JWT](https://github.com/IBM-Swift/Swift-JWT) supports ES256 signing and verifying on Apple platforms and Linux, and it is an excellent replacement in my experience.

[2019-09-23 14:09] AccuPhoenix01 commented on #122
I have been using: https://github.com/radianttap/JSONWebToken.swift
which is updated  for Xcode 10 and up, Swift 5, etc.

[2019-09-23 17:18] iprasla commented on #122
The last commit I see is from April. I am not sure if it is still updated.

[2020-04-29 12:46] logictrix commented on #120
I am getting the same issue, is there any solution ?

[2021-02-10 14:43] couchdeveloper commented on #124
I hope @kylef is well!

For another project I need to parse and validate a JWT which supports HS and ES algorithms on iOS, Swift 5+.

There are some alternatives, but then I decided to make my own and open sourced it here on GitHub. It compiles with Swift 5 and on platforms where [CryptoKit](https://developer.apple.com/documentation/cryptokit) is available. Have a search ;)

[2021-03-21 05:13] mtangoo commented on #116
Edit: Found a solution here: https://github.com/kylef/JSONWebToken.swift/issues/102#issuecomment-470076753

[code]

[2021-03-30 14:13] Ginso opened #127 "could not checkout with package manager"
hello i tried checking it out with the swift package manager, but it failed to resolve packages:
because JSONWebToken.swift >=1.4.3 contains incompatible tools version and root depends on JSONWebToken.swift 2.2.0..<3.0.0, version solving failed.
Can anybody help me?

[2021-04-16 07:30] #122 closed

[2021-08-23 16:54] raju-simbesi opened #129 "Redefinition of module 'CommonCrypto'"
Hi,

Getting too many issues after installed the pod --  pod 'JSONWebToken' --- is it still working with the latest version or not?

[2021-09-25 20:23] steadman1 commented on #129
Im also getting multiple (around 23) compiler errors when I attempt building my Swift 5 app with JWT installed. Anyone found the issue?
<img width="269" alt="Screen Shot 2021-09-25 at 4 23 05 PM" src="https://user-images.githubusercontent.com/64872573/134785101-a5dfafa6-fd60-4cef-9394-5c2280610ee1.png">

[2021-11-11 17:07] Chuntianhong commented on #129
I also faced the same issue.
Did you find the solution?

[2021-11-11 17:13] Chuntianhong commented on #129
This was resolved with the way in the following link.
https://github.com/kylef/JSONWebToken.swift/issues/116

[2022-01-08 15:18] mungbeans opened #130 "So it doesn't work with Swift 5?"
Getting some errors trying to use this with Swift 2

For example
 let rem = input.characters.count % 4 // Characters is unavailable error

  defer { context.deallocate(capacity: 1) } // deallocate(capacity:)isunavailableerror